.reviews_field {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    .rewievs_title {
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 50px;
            color: #ffffff;
        }
    }
    .reviews_background_elements {
        z-index: 2;
        position: relative;
        margin: 0 auto;
        width: 100%;
        .background_left_element {
            position: absolute;
            left: -30px;
            top: 0;
            bottom: 0;
        }
        .background_right_element {
            position: absolute;
            right: -30px;
            top: 0;
            bottom: 0;
        }
    }
    .reviews_swiper {
        z-index: 3;
        width: 100%;
        div {
            border-radius: 15px;
            position: relative;
            img {
                z-index: 4;
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .reviews_pause_video {
                z-index: 4;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                img {
                    width: 50px;
                    height: 49px;
                    object-fit: cover;
                    object-position: center;
                }
                p {
                    max-width: 258px;
                    font-style: normal;
                    font-weight: 350;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }
    .reviews_second_title {
        display: flex;
        justify-content: center;
        h3 {
            font-style: normal;
            font-weight: 350;
            font-size: 30px;
            line-height: 48px;
            text-align: center;
            color: #ffffff;
        }
    }
    .reviews_btn {
        display: flex;
        justify-content: center;
        button {
            padding: 25px 90px;
            background: #f75db8;
            border-radius: 5px;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
}

@media (max-width: 1310px) {
    .reviews_field {
        .reviews_background_elements {
            .background_left_element {
                left: 0;
            }
            .background_right_element {
                right: 0;
            }
        }
    }
}
@media (max-width: 768px) {
    .reviews_field {
        .rewievs_title {
            h4 {
                font-size: 40px;
            }
        }
        .reviews_second_title {
            h3 {
                font-size: 27px;
            }
        }
    }
}
@media (max-width: 661px) {
    .reviews_field {
        .rewievs_title {
            h4 {
                font-size: 35px;
            }
        }
        .reviews_second_title {
            h3 {
                font-size: 25px;
            }
        }
    }
}
@media (max-width: 578px) {
    .reviews_field {
        .rewievs_title {
            h4 {
                font-size: 30px;
            }
        }
        .reviews_second_title {
            h3 {
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 496px) {
    .reviews_field {
        .reviews_background_elements {
            .background_left_element {
                display: none;
            }
        }
        .rewievs_title {
            h4 {
                font-size: 28px;
            }
        }
        .reviews_second_title {
            h3 {
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 462px) {
    .reviews_field {
        .rewievs_title {
            h4 {
                font-size: 25px;
            }
        }
        .reviews_second_title {
            h3 {
                font-size: 16px;
            }
        }
        .reviews_btn {
            button {
                font-size: 14px;
                padding: 25px 75px;
            }
        }
    }
}
@media (max-width: 413px) {
    .reviews_field {
        .rewievs_title {
            h4 {
                font-size: 23px;
            }
        }
        .reviews_second_title {
            h3 {
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 380px) {
    .reviews_field {
        .rewievs_title {
            h4 {
                font-size: 22px;
            }
        }
        .reviews_btn {
            button {
                font-size: 14px;
                padding: 20px 60px;
            }
        }
    }
}
