.work {
    width: 100%;
    height: 100%;

    .work_how_title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;

        h3 {
            font-family: "Circe";
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 50px;
            color: #0d1d4a;
        }
    }

    .work_img_title {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .work_images {
            width: 100%;
            .work_info_img {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 100%;
                div {
                    text-align: center;
                    p {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 26px;
                        color: #0d1d4a;
                        padding: 40px 0;
                    }
                }
            }
        }
    }

    .work_img_info {
        position: absolute;
        top: 230px;
        left: 0;
        width: 100%;
        max-height: 170px;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media (max-width: 768px) {
    .work {
        .work_how_title {
            h3 {
                font-size: 40px;
            }
        }
        .work_img_title {
            .work_images {
                .work_info_img {
                    div {
                        p {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 661px) {
    .work {
        .work_how_title {
            h3 {
                font-size: 35px;
            }
        }
    }
}
@media (max-width: 578px) {
    .work {
        .work_how_title {
            h3 {
                font-size: 30px;
            }
        }
    }
}
@media (max-width: 496px) {
    .work {
        .work_how_title {
            h3 {
                font-size: 28px;
            }
        }
        .work_img_title {
            .work_images {
                .work_info_img {
                    div {
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 462px) {
    .work {
        .work_how_title {
            h3 {
                font-size: 25px;
            }
        }
    }
}
@media (max-width: 413px) {
    .work {
        .work_how_title {
            h3 {
                font-size: 23px;
            }
        }
    }
}
@media (max-width: 380px) {
    .work {
        .work_how_title {
            h3 {
                font-size: 22px;
            }
        }
    }
}
