.work {
    height: 100%;
    .howTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            font-family: 'Circe';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 50px;
            color: #0D1D4A;
            padding: 50px;
        }
    }
    .imagesTitle {
        width: 100%;
        .images {
            position: relative; 
            width: 100%;
            height: 170px;
            .arrowImg {
                z-index: -1;
                position: absolute;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                
            }
            .workInfo {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 100%;
            } 
        }
        .workTitle {
            display: flex;
            justify-content: space-around;
            p {
                max-width: 270px;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                text-align: center;
                color: #0D1D4A;
                padding: 40px 0;
            }
        }
    }
}