.azer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 70px;

  
  .azer__title {
    padding-top: 50px;
    text-align: center;
    font-family: "Circe";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #ffffff;
  }
  .azer__card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    .azer__card_desc {
      display: flex;
      justify-content: center;
      align-items: center;

      .azer__card_set {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.16);
      }
      width: 16.66% !important;
      text-align: center;
      p {
        color: #ffffff;
      }
      h1 {
        font-family: "Circe";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .azer {
    .azer__title {
      font-size: 40px;
    }
    .azer__card {
      .azer__card_desc {
        width: 16.66% !important;
        text-align: center;
        p {
          color: #ffffff;
        }
        h1 {
          font-size: 12px;
          
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .azer {
    .azer__title {
      font-size: 35px;
    }
   
    .azer__card {
      .azer__card_desc {
        width: 16.66% !important;
        text-align: center;
        p {
          color: #ffffff;
        }
        h1 {
          font-size: 14px;
          
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .azer {
    row-gap: 20px;
    .azer__title {
      font-size: 30px;
    }
   
    .azer__card {
      .azer__card_desc {
        width: 25% !important;
        text-align: center;
        p {
          color: #ffffff;
        }
        h1 {
          font-size: 12px;
          
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .azer {
    .azer__title {
      font-size: 30px;
    }
   
    .azer__card {
      .azer__card_desc {
        width: 33.3% !important;
        text-align: center;
        p {
          color: #ffffff;
        }
        h1 {
          font-size: 12px;
          
        }
      }
    }
    .azer__card_desc:nth-child(10) {
     display: none;
    }
    .azer__card_desc:nth-child(11) {
     display: none;
    }
    .azer__card_desc:nth-child(12) {
     display: none;
    }
  }
}