.coursework {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .courseTitle {
        font-style: normal;
        font-weight: 700;
        max-width: 800px;
        font-size: 45px;
        line-height: 50px;
        text-align: center;
        color: #0D1D4A;
        span {
            color: #7D2AEB;
        }
    }
    .courseCards {
        width: 100%;
        display: flex;
        justify-content: space-around;
        .cards {
            padding: 20px;
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(13, 29, 74, 0.11);
            border-radius: 15px;
            .titles {
                .subTitle {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.416667px;
                    text-transform: uppercase;
                    color: #93A1C8;
                }
                .title {
                    font-style: normal;
                    max-width: 390px;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    padding: 14px 0;
                    color: #0D1D4A;
                }
                .subSmTitle {
                    font-style: normal;
                    font-weight: 350;
                    font-size: 13px;
                    line-height: 16px;
                    color: #93A1C8;
                    background: #F1F4F9;
                    border-radius: 14px;
                    padding: 6px;
                    text-align: center;
                }
            }
        }
        .generalInfo {
            display: flex;
            justify-content: space-between;
            .conditions {
                display: flex;
                flex-direction: column;
                .unique {
                    display: flex;
                    align-items: center;
                    justify-content: first baseline;
                    padding: 15px 0;
                    .uniqueTitles {
                        padding: 0 14px;
                        .subTitles {
                            font-style: normal;
                            font-weight: 350;
                            font-size: 13px;
                            line-height: 16px;
                            color: #93A1C8;
                        }
                        p {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 13px;
                            line-height: 16px;
                            color: #0D1D4A;
                        }
                    }
                }
                .calendar {
                    display: flex;
                    align-items: center;
                    .calendarTitle {
                        padding: 0 11px;
                        .calendarSmTitle {
                            font-style: normal;
                            font-weight: 350;
                            font-size: 13px;
                            line-height: 16px;
                            color: #93A1C8;
                        }
                        p {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 13px;
                            line-height: 16px;
                            color: #0D1D4A;
                        }
                    }
                }
            }
            .authorPrice {
            .author {
                display: flex;
                align-items: center;
                padding: 15px 0;
                .name {
                    padding: 0 10px;
                    .role {
                        font-style: normal;
                        font-weight: 350;
                        font-size: 13px;
                        line-height: 16px;
                        color: #93A1C8;
                    }
                    p {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 16px;
                        color: #0D1D4A;
                    }
                }
            } 
             .price {
                display: flex;
                align-items: center;
                h4 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 32px;
                    color: #0D1D4A;
                }
             }
        }
        }
    }
    .clouds {
        z-index: -1;
        position: relative;
        margin: 0 auto;
        width: 100%;
            .leftCloud {
                position: absolute;
                left: 0;
                top: -200px;
                bottom: 0;
            }
            .rightCloud {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            }
    }
    .pagination {
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        width: 100%;
        .leftArrow {
            padding: 16px 13px;
            background: #F1F4F9;
            border-radius: 60px;
            display: flex;
            align-items: center;
        }
        .spots {
            display: flex;
            width: 100%;
            padding: 0 28px;
            align-items: center;
            justify-content: space-between;
            div {
                width: 12px;
                height: 12px;
                background: #F1F4F9;
                border-radius: 12px;
            }
            div:nth-last-child(1) {
                background: #93A1C8;
            }
        }
        .rightArrow {
            padding: 16px 13px;
            background: #F1F4F9;
            border-radius: 60px;
            display: flex;
            align-items: center;
        }
    }
    .btnJob {
        button {
            background: #F75DB8;
            border-radius: 27px;  
            padding: 15px;  
            font-style: normal;
            font-weight: 800;
            font-size: 15px;
            line-height: 23px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}