.questions {
  background: #ffffff;
  .questions__cards {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    .questions__card1 {
      width: 392px;
      height: 733px;
      background: rgb(255, 255, 255);
      column-gap: 32px;
      .questions__title {
        width: 268px;
        height: 64px;
        padding-left: 40px;
        padding-top: 46px;
        font-family: "Circe";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 32px;
        color: #0d1d4a;
      }
      .box {
        padding-top: 88px;
        row-gap: 40px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-around;
        height: 500px;
        .box1 {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 25px;
          font-family: "Circe";
          font-style: normal;
          font-weight: 350;
          font-size: 16px;
          line-height: 24px;
          color: #0d1d4a;
          padding-bottom: 37px;
          .box__title {
            width: 196px;
            height: 50px;
            font-family: "Circe";
            font-style: normal;
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;

            color: #0d1d4a;
          }
          .box__title1 {
            width: 196px;
            height: 70px;
            font-family: "Circe";
            font-style: normal;
            font-weight: 350;
            font-size: 16px;
            line-height: 24px;

            color: #0d1d4a;
          }
        }
        .box2 {
          width: 360px;
          height: 255px;
          background: #f2eafd;
          border-radius: 15px;
          display: flex;

          .decs1 {
            padding: 26px 0 0 24px;
            width: 115px;
            height: 250px;
            .decs__text {
              font-family: "Circe";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 25px;
              color: rgba(13, 29, 74, 0.6);
            }
          }
          .decs2 {
            width: 173px;
            height: 200px;
            padding: 26px 0 0 24px;
            .decs__text1 {
              font-family: "Circe";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 30px;
              text-align: right;

              color: #0d1d4a;
            }
          }
          .decs3 {
            width: 16px;
            height: 200px;
            padding: 26px 0 0 24px;
            .decs__text2 {
              font-family: "Circe";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 30px;
              text-align: right;

              color: #0d1d4a;
            }
          }
        }
      }
    }
    .questions__card2 {
      width: 50%;
      height: 733px;
      overflow-x: scroll;
      background: #7d2aeb;
      border-radius: 15px;
      .questions__title1 {
        width: 395px;
        height: 48px;
        padding-left: 40px;
        padding-top: 46px;
        font-family: "Circe";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #ffffff;
      }
      .memo {
        margin: 0 auto;
        width: 88%;
        height: 196px;
        margin-top: 80px;
        background: #ffffff;
        border-radius: 4px;
        .memo__title {
          width: 443px;
          height: 26px;
          padding: 19px 0 0 16px;
          font-family: "Circe";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;

          color: #0d1d4a;
        }
        .memo__titles {
          width: 80%;
          height: 90px;
          padding: 25px 0 0 16px;
          font-family: "Circe";
          font-style: normal;
          font-weight: 350;
          font-size: 16px;
          line-height: 22px;
          color: #0d1d4a;
        }
        .memo__titless {
          width: 80%;
          height: 80px;
          padding: 15px 0 0 16px;
          font-family: "Circe";
          font-style: normal;
          font-weight: 350;
          font-size: 16px;
          line-height: 22px;
          color: #0d1d4a;
        }
      }
      .questions__box {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        max-width: 100%;
        height: 100%;
        .questions__boxs {
          width: 90%;
          height: 87%;
          .questions__text {
            padding: 0px;
            color: #ffffff;
          } 
        }
      }
    }
  }
}


@media screen and (max-width: 900px) {
  .questions__cards {
    // display: flex;
    flex-direction: column;
  }
}
