.answer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 80vh;

  .answer_card {
  width: 100%;
  // height: 200px;
  .answer__card_title {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    
    color: #0D1D4A;
    
  }
}
.answer__sm_card {
  display: flex;
  justify-content: space-between;
  .answer__sm_card_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #0D1D4A;
  }

}

}



