* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
  font-size: 16px;
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 1% 0 1%;
  margin: 0 auto;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  background: #0d1d4a;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .questions_main {
    height: 50vh;
  }

}

@media (max-width: 1640px) {
  .container {
    max-width: 1640px;
  }
}

@media (max-width: 1900px) {
  .container {
    max-width: 1900px;
  }
}

li {
  list-style: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
